.container

  .hero-unit{:style => 'text-align:center'}
    %p= image_tag 'dice_and_drugs.png', :style => 'width:400px'
    %p{:style => 'font-size: 4em; margin: 40px'} presents
    %p= image_tag 'funny_drugs.png', :style => 'width:400px;'
    %p
      = link_to 'Play! »', "#{game_path}/#animal_choice", :class => 'btn primary large'

  %footer
    %p © Company 2011
/ /container
