.container

  .hero-unit
    %h1 Dice & Drugs!
    %p Vestibulum id ligula porta felis euismod semper. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.
    %p
      %a.btn.primary.large Play! »

  %footer
    %p © Company 2011
/ /container
