/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
*/


@import 'compass-bootstrap/compass_bootstrap';

.jauge-container {
  position: relative;
  .liquid {
    position: absolute;
    top: 0px;
//    left: px;
    height: 0px;
    width: 410px;
    height: 230px;
    background: asset-url("liquid.png", image);
    background-repeat: no-repeat;
        
  }
  .jauge {
    position: absolute;
    top: 0px;
    height: 281px;
    width: 500px;
    background: asset-url("jauge.png", image);
  }
}

#jauge-slider {
  position: absolute;
  width: 100px;
  height: 30px;
  top: 300px;
  background: blue;
  
  .ui-slider-handle {
//    display: block;
    position: absolute;
    background: red;
    width: 10px;
    height: 20px;
  }
}

.timer-wrapper{
  position: absolute;
  top: 0px;
  right: 0px;
  background: red;
  width: 300px;
  height: 120px;
  .timer{
    width: 250px;
    height: 70px;
    background: black;
    
  }
}

