/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
*/


@import 'compass-bootstrap/compass_bootstrap';

.jauge-container {
  position: relative;
  .liquid {
    position: absolute;
    top: 0px;
    left: -240px;
    height: 0px;
    width: 660px;
    height: 230px;
    background: asset-url("liquid.png", image);
    background-repeat: no-repeat;
        
  }
  .jauge {
    position: absolute;
    top: 0px;
    height: 281px;
    width: 500px;
    background: asset-url("jauge.png", image);
  }
}

#jauge-slider {
  position: absolute;
  width: 450px;
  height: 55px;
  top: 300px;
  background: asset-url("trait1.png", image);
  
  .ui-slider-handle {
//    display: block;
    position: absolute;
    width: 31px;
    height: 89px;
    background: asset-url("double_trait.png", image);
  }
}

.timer-container {
  position: absolute;
  right: 0px;
  width: 700px;
}

.timer-wrapper{
  position: relative;
  right: -120px;
  display: inline-block;
  .timer-mask {
    position: absolute;
    top: 0px;
    background: asset-url('barre.png', image);
    height: 80px;
    width: 440px;
  }
  .timer{
    position: absolute;
    top: 0px;
    width: 440px;
    height: 80px;
    background: asset-url('pieces.png', image) no-repeat;
  }
}

